<br/>
<div class="form-group">
    <label for="file" class="col-sm-2 control-label">请选择需要部署的zip包/jar包</label>
    <div class="col-sm-10">
        <input type="file" id="file" name="file">
        <br/>
    </div>
    <div class="form-group col-sm-6">
        <label for="cmd" class="col-sm-2 control-label">请输入命令：</label>
        <div class="col-sm-6">
            <input ng-model="cmd" type="text" class="form-control" id="cmd" placeholder="默认从上传文件的xxx.cmd获取部署命令">
        </div>
    </div>
    <br/>
    <br/>
    <div class="col-sm-offset-2 col-sm-6">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default" id="uploadBtn" ng-click="deploy()">部署</button>
        </div >

        <div class="col-sm-10" ng-if="st.success==true">
            <h5 style="color: green"><strong>
                {{st.note}}
            </strong></h5>
        </div>
        <div class="col-sm-10" ng-if="st.success==false">
            <h5 style="color: red"><strong>
                {{st.note}}
            </strong></h5>
        </div>
    </div>
</div>